n8n/workflows/booking-assistant.json
{
  "name": "booking-assistant",
  "nodes": [
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.email }}"
      },
      "id": "e6183978-5077-4252-9718-6b36b6a7cd74",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        760,
        480
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {
          "maxRetries": 3
        }
      },
      "id": "1719e956-f9c8-48f5-9744-ee62345a9f7d",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        580,
        460
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIALS_ID",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=A new booking request has been submitted. Details:\nName: {{ $json.body.name }}\nEmail: {{ $json.body.email }}\nPhone: {{ $json.body.phone }}\nGuests: {{ $json.body.guests }}\nCheck-in: {{ $json.body.checkIn }}\nCheck-out: {{ $json.body.checkOut }}\nMessage: {{ $json.body.message }}\n\nPlease process this booking according to your instructions, checking availability using Get Event and creating a calendar event using Create Event or proposing alternative dates and send them using email.",
        "options": {
          "systemMessage": "=Current date/time is: {{ $now.setZone('Europe/Warsaw') }}\n\nYou are a helpful assistant for apartment booking website. The apartment is located in Kąty Rybackie, Poland.\n\nYou are tasked to:\n- Assist with apartment booking using Google Calendar based on the input parameters\n- First, use ONLY the 'Get Event' tool to check availability. BASED ON THE RESULTS of 'GetEvent', decide whether to use the 'CreateEvent' tool ONCE.\n\nUse \"language\" attribute from the webhook input body to determine language in which to respond - Polish or English.\n\nWhen suggesting alternative dates, format your response as a JSON object with this structure:\n{\n \"alternativeDates\": \"your message here\"\n}"
        }
      },
      "id": "2d3b4012-bd5f-46d5-be6d-af1ede6c155b",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        620,
        240
      ],
      "typeVersion": 1.8
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "YOUR_WEBHOOK_PATH",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        380,
        240
      ],
      "id": "d825179a-a1c2-47f7-a221-37b3d50aa595",
      "name": "WebForm Webhook",
      "webhookId": "YOUR_WEBHOOK_ID"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "YOUR_CALENDAR_ID@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Your Calendar Name"
        },
        "start": "={{ $json.body.checkIn }}T14:00:00",
        "end": "={{ $json.body.checkOut }}T11:00:00",
        "additionalFields": {
          "description": "=Contact Email: {{ $json.body.email }} \nPhone: {{ $json.body.phone }} \nGuests: {{ $json.body.guests }} \nMessage: {{ $json.body.message }}",
          "summary": "=Rezerwacja dla {{ $json.body.name }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1080,
        440
      ],
      "id": "54e3956b-57e4-4c0c-a602-eebc0de5d2df",
      "name": "CreateEvent",
      "executeOnce": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "YOUR_GOOGLE_CALENDAR_CREDENTIALS_ID",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "YOUR_CALENDAR_ID@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Your Calendar Name"
        },
        "timeMin": "={{ $json.body.checkIn }}",
        "timeMax": "={{ $json.body.checkOut }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        920,
        440
      ],
      "id": "71523d74-1357-42bf-8033-15c0e1ec5aeb",
      "name": "GetEvent",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "YOUR_GOOGLE_CALENDAR_CREDENTIALS_ID",
          "name": "Google Calendar account"
        }
      }
    }
  ],
  "pinData": {
    "WebForm Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.izli.eu",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/137.0.0.0 Safari/537.36",
            "content-length": "159",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "pl-PL,pl;q=0.9,en-GB;q=0.8,en;q=0.7,en-US;q=0.6",
            "content-type": "application/json",
            "origin": "http://localhost:5173",
            "priority": "u=1, i",
            "referer": "http://localhost:5173/",
            "sec-ch-ua": "\"Google Chrome\";v=\"137\", \"Chromium\";v=\"137\", \"Not/A)Brand\";v=\"24\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "5.173.180.16",
            "x-forwarded-host": "n8n.izli.eu",
            "x-forwarded-proto": "https",
            "x-railway-edge": "railway/europe-west4-drams3a",
            "x-railway-request-id": "9NO21ZnoTI6LDWJR0-QtfA",
            "x-real-ip": "5.173.180.16",
            "x-request-start": "1749038339035"
          },
          "params": {},
          "query": {},
          "body": {
            "name": "Błażej Siejek",
            "email": "blazej.siejek@gmail.com",
            "phone": "48796498420",
            "guests": "1",
            "message": "none",
            "checkIn": "2025-06-16",
            "checkOut": "2025-06-20"
          },
          "webhookUrl": "https://n8n.izli.eu/webhook/40b6e331-ecd9-4966-aa5c-dc4d637d459c",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "WebForm Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CreateEvent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "GetEvent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "timezone": "Europe/Warsaw",
    "callerPolicy": "workflowsFromSameOwner",
    "executionOrder": "v1"
  },
  "versionId": "ec5955f9-c284-4924-9736-bb39fb2c22bc",
  "meta": {
    "templateId": "1954",
    "templateCredsSetupCompleted": true,
    "instanceId": "d95d2ca8050bafff76949a44abddebbb78dd4a4b83fece061c75afd5cfc18f23"
  },
  "id": "ZLnhHS8EsBsGeAxY",
  "tags": []
}